@import '_customize.scss';

// Main Variables
$backgroundColor: #0e1217;
$mainColor: #27378952;

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: $mainColor;
    color: #fff;
}

body {
    background-color: $backgroundColor;
    color: #fff;
    font-family: "Playwrite IN", serif;
    text-align: center;
}

.loading {
    background-color: $backgroundColor;
    font-family: "Poppins", sans-serif;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    z-index: 999999999999;
    transition: all 0.5s;
    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.scroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    z-index: 999999999;
}


.lines {
    z-index: -1;
    .container {
        &::before {
            content: '';
            background: #ffffff1a;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
        }

        .line {
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: 50%;
            background: #ffffff1a;
            overflow: hidden;

            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 15vh;
                width: 100%;
                top: -50%;
                left: 0;
                background: linear-gradient(to bottom, #ffffff00 0%, #ffffff 75%, #ffffff 100%);
                animation: drop 7s 0s infinite;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);

                @keyframes drop {
                    0% {
                        top: -50%;
                    }

                    100% {
                        top: 110%;
                    }
                }
            }

            &:nth-child(1) {
                margin-left: -25%;
            }

            &:nth-child(1)::after {
                animation-delay: 2s;
            }

            &:nth-child(3) {
                margin-left: 25%;
            }

            &:nth-child(3)::after {
                animation-delay: 2.5s;
            }
        }
    }
}

.landing {
    width: 100vw;
    height: 100vh;

    .container {
        .box {
            padding-top: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media (max-width: 460px) {
                padding-top: 220px;
            }

            p,
            h1 {
                margin: 0;
            }

            p:nth-of-type(1) {
                font-size: 20px;
                @media (max-width: 460px) {
                    font-size: 15px;
                }
            }

            h1 {
                font-size: 100px;
                @media (max-width: 460px) {
                    font-size: 60px;
                }
            }

            p:nth-of-type(2) {
                font-size: 25px;
                @media (max-width: 460px) {
                    font-size: 16px;
                }
            }

            p:nth-of-type(3) {
                font-size: 20px;
                position: relative;
                padding-top: 20px;
                @media (max-width: 460px) {
                    font-size: 16px;
                }

                span {
                    color: #fff;
                }

                img {
                    position: absolute;
                    width: 140px;
                    bottom: -40px;
                    left: 95px;
                    @media (max-width: 460px) {
                        width: 110px;
                        bottom: -35px;
                        left: 75px;
                    }
                }
            }
        }
    }
}


.creators {
    padding: 60px 0;

    .container {
        >h1 {
            color: #fff;
            font-size: 20px;
        }

        swiper-container.boxs {
            padding-top: 30px;
            cursor: grab;

            swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                .box {
                    &:hover {
                        img {
                            filter: grayscale(0);
                            transform: translateY(-5px);
                        }
                    }

                    img {
                        width: 100px;
                        border-radius: 50%;
                        box-shadow: #0000004f 5px 5px 10px;
                        filter: grayscale(100%);
                        padding-top: 10px;
                        transition: all 0.5s;
                    }

                    p {
                        color: #fff;
                        font-size: 16px;
                        font-family: "Poppins", sans-serif;
                        margin-top: 10px;

                        span {
                            display: block;
                            color: #8c8c8c;
                            font-size: 13px;
                            margin-top: -3px;
                        }
                    }
                }
            }
        }
    }
}


.videos {
    padding: 60px 0;
    position: relative;
    background: linear-gradient(225deg, #0e1217 75%, #27378952 100%);

    &::before {
        content: '';
        background: #ffffff1a;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }

    .container {
        .mainBox {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: 50px;
            overflow-x: hidden;
            @media (max-width: 992px) {
                gap: 0;
            }

            &.mainBox:nth-of-type(1) {
                @media (max-width: 992px) {
                    .box:nth-of-type(1) {
                        order: 2;
                    }

                    .box:nth-of-type(2) {
                        order: 1;
                    }
                }
            }
            &.mainBox:nth-of-type(2) {
                margin: 70px 0;
                .box:nth-of-type(1) {
                    order: 2;
                }
                .box:nth-of-type(2) {
                    order: 1;
                }
            }
            &.mainBox:nth-of-type(3) {
                @media (max-width: 992px) {
                    .box:nth-of-type(1) {
                        order: 2;
                    }

                    .box:nth-of-type(2) {
                        order: 1;
                    }
                }
            }

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                overflow-x: hidden;
                @media (max-width: 400px) {
                    margin-left: -30px;
                }
                @media (max-width: 350px) {
                    margin-left: -50px;
                }
                @media (max-width: 320px) {
                    margin-left: -60px;
                }
                @media (max-width: 300px) {
                    margin-left: -70px;
                }
                iframe {
                    width: 600px;
                    height: 300px;
                    @media (max-width: 660px) {
                        width: 450px;
                        height: 225px;
                    }
                    @media (max-width: 500px) {
                        width: 300px;
                        height: 150px;
                    }
                    @media (max-width: 450px) {
                        width: 225px;
                        height: 112.5px;
                    }
                }

                p {
                    color: #fff;
                    font-size: 40px;
                    @media (max-width: 660px) {
                        font-size: 30px;
                    }
                    @media (max-width: 500px) {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.work {
    padding: 60px 0;
    background-color: #000;

    .container {
        a {
            color: #fff;
        }

        .links {
            margin-top: 40px;

            a {
                font-family: "Poppins", sans-serif;
                font-size: 25px;
                transition: all 0.5s;

                &:nth-of-type(2) {
                    padding: 0 15px;
                }

                &:hover {
                    color: #07f;
                }
            }
        }
    }
}